.navbar {
  background-color: #fff;
  padding: 20px;
  border-bottom: 0.1px solid #e8e4e4;
  align-items: center;
  justify-content: center;
}

.navbar-top {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 40px;
  height: 40px;
}

.navbar-discover {
  font-size: 2rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.span {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

.nav-item:hover {
  background-color: lightgray; 
}

.active, .nav-item:hover{
  background-color: rgb(45, 189, 45); 
}
